<div>
  <div>
    <h1>
      College Football Teams
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new team
    </h2>

    <form action="/insert_team" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create team
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
        Logo
        </th>

        <th>
          Name
        </th>

        <th>
          Abbreviation
        </th>

        <th>
        Mascot
        </th>

        <th>
          ESPN Team Page
        </th>

      </tr>

      <% @list_of_teams.order(:name).reverse.each do |a_team| %>
      <tr>
        <td>
          <%= a_team.id %>
        </td>

        <td>
        <img src="<%= a_team.logo %>">
        </td>

        <td>
          <%= a_team.name %>
        </td>

        <td>
          <%= a_team.abbreviation %> 
        </td>

        <td>
          <%= a_team.mascot %> 
        </td>

        <td>
          <a href="<%= a_team.espn_team_page %>"> ESPN 
          </a>
        </td>

        </td>




      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
