<div>
  <div>
    <h1>
      List of all bowlgames
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bowlgame
    </h2>

    <form action="/insert_bowlgame" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input placeholder = "The Pop Bowl" type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="game_time_box">
          Game time
        </label>

        <input type="datetime-local" id="game_time_box" name="query_game_time">
      </div>

      <div>
        <label for="network_box">
          Network
        </label>

        <select name="query_network" id="network_box">
          <% Bowlgame.order(:network).each do |a_network| %>
          <option value="<%= a_network.id %>">
            <%= a_network.network %>
          </option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="team_one_id_box">
          Team one
        </label>

        <select name="query_team_one_id" id="team_one_id_box">
          <% Team.order(:name).each do |a_team| %>
          <option value="<%= a_team.id %>">
            <%= a_team.name %>
          </option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="team_two_id_box">
          Team two
        </label>
        <select name="query_team_two_id" id="team_two_id_box">
          <% Team.order(:name).each do |a_team| %>
          <option value="<%= a_team.id %>">
            <%= a_team.name %>
          </option>
          <% end %>
        </select>
      
      
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input placeholder = "2022" type="text" id="year_box" name="query_year">
      </div>

      <div>
        <input type="checkbox" id="championship_box" name="query_championship" value="1">

        <label for="championship_box">Championship</label>
      </div>

      <div>
        <input type="checkbox" id="semifinal_box" name="query_semifinal" value="1">

        <label for="semifinal_box">Semifinal</label>
      </div>

      <button>
        Create bowlgame
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border = 1>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Game time
        </th>

        <th>
          Network
        </th>

        <th>
          Team one
        </th>

        <th>
          Team two
        </th>

        <th>
          Winner
        </th>

        <th>
          Year
        </th>

        <th>
          Championship
        </th>

        <th>
          Semifinal
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bowlgames.each do |a_bowlgame| %>
      <tr>
        <td>
          <%= a_bowlgame.id %>
        </td>

        <td>
          <%= a_bowlgame.name %>
        </td>

        <td>
          <%= a_bowlgame.game_time %>
        </td>

        <td>
          <%= a_bowlgame.network %>
        </td>

        <td>
          <%= a_bowlgame.team_one_id %>
        -->
        </td>

        <td>
          <%= a_bowlgame.team_two_id %>
        </td>

        <td>
          <%= a_bowlgame.winner_id %>
        </td>

        <td>
          <%= a_bowlgame.year %>
        </td>

        <td>
          <%= a_bowlgame.championship %>
        </td>

        <td>
          <%= a_bowlgame.semifinal %>
        </td>

        <td>
          <%= time_ago_in_words(a_bowlgame.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_bowlgame.updated_at) %> ago
        </td>

        <td>
          <a href="/bowlgames/<%= a_bowlgame.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
