<div>
  <div>
    <h1>
      List of everyone's picks
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border = 1>
      <tr>
     
        <th>
          User
        </th>

        <th>
           <% @list_of_bowlgames.order( :game_time).reverse.each do |a_bowlgame| %>
           <%= a_bowlgame.name %>
           <% end %>
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>
        
      <% @list_of_picks.order( :game_time).reverse.each do |a_pick| %>
      <tr>
       
        <td>
          <% user = a_pick.user_id %>
          <%= User.where({ :id => user}).at(0).name %>
        </td>

         <td>
          <% team = a_pick.picked_team_id %>
          <%= Team.where({ :id => team}).at(0).name %>

        </td>

        <td>
          <%= time_ago_in_words(a_pick.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_pick.updated_at) %> ago
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
