<div>
  <div>
    <h1>
      List of all picks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new pick
    </h2>


    <form action="/insert_pick" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="bowl_game_id_box">
          Bowl game
        </label>
    
        <select name="query_bowl_game_id" id="bowl_game_id_box">
          <% Bowlgame.order(:name).each do |a_game| %>
          <option value="<%= a_game.id %>">
            <%= a_game.name %>
          </option>
          <% end %>
        </select>

      </div>

      <div>
        <label for="picked_team_id_box">
          Picked team
        </label>

       <select name="query_picked_team_id" id="picked_team_id_box">
          <% Team.order(:name).each do |a_team | %>
          <option value="<%= a_team.id %>">
            <%= a_team.name %>
          </option>
          <% end %>
        </select>

      </div>

      <button>
        Create pick
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Bowl game
        </th>

        <th>
          Picked team
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_picks.each do |a_pick| %>
      <tr>
        <td>
          <%= a_pick.id %>
        </td>

        <td>
          <%= a_pick.user_id %>
        </td>

        <td>
          <%= a_pick.bowl_game_id %>
        </td>

        <td>
          <%= a_pick.picked_team_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_pick.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_pick.updated_at) %> ago
        </td>

        <td>
          <a href="/picks/<%= a_pick.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
