<div>
    <h1>
      Make Your Picks
    </h1>
  </div>

    <form action="/insert_pick" method="post">
      <div>
        <label for="user_id_box">
        </label>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= session.fetch(:user_id)%>">
      </div>

 <div>
    <table border = 1>
      <tr>
        <th>
          Name
        </th>

        <th>
          <% user_id = session.fetch(:user_id) %>
          <% user = User.where ({ :id => user_id }) %> 
          <%= user.at(0).name %>'s Picks
        </th>
     </tr>

      <% @list_of_bowlgames.order( :game_time).reverse.each do |a_bowlgame| %>
      <tr>
        <td>
          <%= query_bowl_game_id = a_bowlgame.name %>
        </td>

        <td>
        <select name="query_picked_team_id" id="picked_team_id_box">
          <% team_one = a_bowlgame.team_one_id %>
          <% team_two = a_bowlgame.team_two_id %>
          <%= Team.where({ :id => team_one}).or(Team.where({ :id => team_two})) %>
           <option value="<%= a_bowlgame.id %>"> <%= Team.where({ :id => team_one}).at(0).name %>
          <option value="<%= a_bowlgame.id %>"> <%= Team.where({ :id => team_two}).at(0).name %>
       </select>
          </option>      
        </td>
      </tr>
      <% end %>
    </table>
  </div>
      </div>

      <button>
        Submit picks
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Bowl game
        </th>

        <th>
          Picked team
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_picks.order( :game_time).reverse.each do |a_pick| %>
      <tr>
        <td>
          <%= a_pick.id %>
        </td>

        <td>
          <%= a_pick.user_id %>
        </td>

        <td>
          <% bowl_game = a_pick.bowl_game_id %>
          <%= Bowlgame.where({ :id => bowl_game}).at(0).name %>
        </td>

        <td>
          <% team = a_pick.picked_team_id %>
          <%= Team.where({ :id => team}).at(0).name %>

        </td>

        <td>
          <%= time_ago_in_words(a_pick.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_pick.updated_at) %> ago
        </td>

        <td>
          <a href="/picks/<%= a_pick.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
