<div>
  <div>
    <h1>
        <% user_id = session.fetch(:user_id) %>
        <% user = User.where ({ :id => user_id }) %> 
        <%= user.at(0).name %>'s <%= @the_pick.bowl_game.name %> Pick
    </h1>

    <div>
      <div>
        <a href="/picks">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_pick/<%= @the_pick.id %>">
          Delete pick
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_pick.user.name %>
      </dd>

      <dt>
        Bowl game
      </dt>
      <dd>
        <%= @the_pick.bowl_game.name %>
      </dd>

      <dt>
        Picked team
      </dt>
      <dd>
        <%= @the_pick.picked_team.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_pick.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_pick.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit pick
    </h2>

    <form action="/modify_pick/<%= @the_pick.id %>"  method="post" >
      <div>
     
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_pick.user.name %>">
      </div>

      <div>
        <label for="bowl_game_id_box">
            </label>

        <input type="hidden" id="bowl_game_id_box" name="query_bowl_game_id" value="<%= @the_pick.bowl_game.name %>">
      </div>

      <div>
        <label for="picked_team_id_box">
          Picked team
        </label>

      <select name="query_picked_team_id" id="picked_team_id_box">
           <option value="<%= @the_pick.bowl_game.team_one.id %>"> <%= @the_pick.bowl_game.team_one.name %> </option>      
           <option value="<%= @the_pick.bowl_game.team_two.id %>"> <%= @the_pick.bowl_game.team_two.name %> </option>  
      </select>
      </div>

      <button>
        Update pick
      </button>
    </form>
  </div>
</div>

<hr>
